.am-carousel .slick-slide {
  height: 180px;
}
.tip {
  color: #808080;
  background: #eeeeee;
  font-size: 16px;
  padding: 16px 16px 8px 16px;
}
.tip .tip-content {
  background: #ffffff;
  padding: 8px;
  line-height: 1.5;
}
.tip .tip-content p {
  margin: 5px;
}
.am-list .am-list-item .am-list-line .am-list-content,
.am-list .am-list-item .am-input-label {
  color: #808080;
}
.drawer-container {
  z-index: -1;
}
.am-modal-body {
  height: auto;
}
