.t-list .t-filter-bar {
  background: #ffffff;
  border-bottom: 1px solid #ECECED;
  padding: 10px;
}
.t-list .t-filter-bar .am-flexbox-item {
  text-align: center;
}
.t-list .t-filter-bar .filter-bar-action {
  color: #22ac38;
}
.t-list .am-list {
  overflow: hidden ;
}
.t-list .am-list .am-list-body:before {
  border-top: none;
}
.buy-list {
  padding: 8px 16px;
  background-color: #ffffff;
}
.buy-list > a {
  color: #666;
}
.buy-list .title {
  padding: 2px;
  margin-bottom: 8px;
  border-bottom: 1px solid #F6F6F6;
}
.buy-list .describe {
  display: -webkit-flex;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-content: center;
  align-items: center;
}
.buy-list .describe .pic {
  flex: 1;
}
.buy-list .describe .pic img {
  width: 100%;
}
.buy-list .describe .text {
  flex: 1.5;
  padding-left: 8px;
}
.buy-list .describe .text .price {
  font-size: 16px;
  color: #FF6E27;
}
.buy-list .describe .text .save-price {
  color: #ff2e0f;
}
.out-color,
.int-color {
  border-radius: 2px;
}
.am-list-footer {
  text-align: center;
}
.separator {
  background-color: #F5F5F9;
  height: 8px;
}
.am-popup-mask,
.am-popup,
.am-popup-wrap {
  top: 90px;
}
.am-popup-mask .am-dropdown-content,
.am-popup .am-dropdown-content,
.am-popup-wrap .am-dropdown-content {
  overflow-y: auto;
}
.am-list .am-list-body,
.am-list .am-list-body:before,
.am-list .am-list-body:after {
  border: none;
}
.FILTER-PRICE,
.FILTER-SORT {
  padding: 0 10px;
}
.FILTER-PRICE .am-list-item:last-child:after,
.FILTER-SORT .am-list-item:last-child:after {
  border-bottom: none !important;
}
.FILTER-PRICE .t-slider,
.FILTER-SORT .t-slider {
  height: 150px;
  padding: 0 10px;
}
.FILTER-PRICE .t-slider h4,
.FILTER-SORT .t-slider h4 {
  padding-left: 5px;
  color: #000;
}
.FILTER-PRICE .t-slider > p,
.FILTER-SORT .t-slider > p {
  margin-top: 60px;
  text-align: right;
}
.FILTER-OTHER {
  z-index: 105;
}
.FILTER-OTHER > h4 {
  padding-top: 8px;
  padding-left: 10px;
}
.FILTER-OTHER ul.t-filter-cartype li {
  height: 68px;
  margin: 10px 0;
}
.FILTER-OTHER ul.t-filter-cartype li > section {
  padding: 5px 0;
}
.FILTER-OTHER .t-filter-btn {
  padding: 10px;
  bottom: 0;
  left: 0;
  z-index: 88;
  width: 100%;
  background-color: #fff;
}
.lab-list {
  padding: 10px 9px;
}
.lab-list li {
  float: left;
  width: 33%;
  padding: 6px 6px 0 6px;
  text-align: center;
}
.lab-list li img {
  width: 100%;
  height: auto;
}
.lab-list li > a {
  display: block;
  height: 34px;
  font-size: 13px;
  line-height: 34px;
  color: #404040;
  text-align: center;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  background-color: #fff;
  border: 1px solid #e1e1e1;
  border-radius: 2px;
}
.lab-list li.active a,
.lab-list a.touch,
.lab-list li.active section {
  color: #22ac38;
  border: 1px solid #22ac38;
  border-radius: 4px;
}
.lab-list li.active a:after {
  content: "";
  display: inline-block;
  width: 12px;
  height: 7px;
  margin-left: 8px;
  vertical-align: 4px;
  border-bottom: 1px solid #22ac38;
  border-left: 1px solid #22ac38;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.status-icon {
  width: 18px;
  height: 18px;
  display: inline-block;
  margin: 0 3px;
}
.agio {
  background: url("agio.png") no-repeat 0 0;
  background-size: cover;
}
.hot {
  background: url("hot.png") no-repeat 0 0;
  background-size: cover;
}
.filter-result {
  padding: 0 15px 2px 15px;
  overflow: hidden;
  display: -webkit-flex;
  display: flex;
  justify-content: space-between;
}
.filter-result ul {
  flex: 3;
}
.filter-result ul li {
  float: left;
  height: 24px;
  margin: 8px 8px 8px 0;
  padding: 0 10px;
  font-size: 12px;
  color: #666;
  line-height: 24px;
  text-align: center;
  background-color: #fff;
  border: 1px solid #e0e0e0;
  border-radius: 2px;
}
.filter-result ul li .icon-close {
  position: relative;
  width: 8px;
  height: 8px;
  margin-left: 10px;
  text-indent: -100px;
  overflow: hidden;
}
.filter-result .btn-reset-container {
  flex: 1;
  text-align: right;
}
.filter-result .btn-reset-container .btn-reset {
  margin-top: 9px ;
  font-size: 12px;
  color: #888;
  background: none;
  border: none;
  z-index: 110;
}
.ant-back-top {
  right: 20px;
}
.am-drawer-content {
  overflow-y: scroll;
}
.subscribe-box {
  height: 278px;
  margin-top: 6px;
}
.subscribe-box .sube-no {
  padding-top: 50px;
  font-size: 12px;
  text-align: center;
}
.subscribe-box .sube-no:before {
  content: "";
  display: block;
  width: 95px;
  height: 95px;
  margin: 0 auto 4px;
  background: url('car.gif') no-repeat;
  background-size: 95px auto;
  border-radius: 50% ;
}
.subscribe-box .sube-btn {
  padding-top: 25px;
  font-size: 0;
  text-align: center;
}
.subscribe-box .sube-btn .btn {
  display: inline-block;
  width: 96px;
  margin: 0 5px;
  font-size: 12px;
  color: #ffffff;
  background-color: #2DB7F5;
  padding: 0 12px;
  height: 28px;
  line-height: 28px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  -webkit-background-clip: padding-box;
}
.t-serach-navbar {
  position: fixed;
  top: 38px;
  width: 100%;
  z-index: 105;
}
.demo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.demo-preview-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
.am-refresh-control-demo1 {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}
